<!DOCTYPE html>
<html>
  <head>
    <title>Summarizer App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <button class="button button4" onclick="location.href='/'">Back</button><br>
    </br>
    </br>
    </br>
    <h1 style="text-align:center;color:white">Record Audio</h1>
    <p style="text-align:center;color:white">Use the buttons below to record an audio file. When satisfied, click the Summarize It! button to generate a summary of your most recent recording.</p>
    <div class = "menu">
        <button class="button button3" id="startRecording">Start recording &emsp; &#9654;</button>
        <button class="button button3" id="stopRecording" disabled>Stop recording &emsp; &#9608;&#9608;</button>


        <div class = "form_section" id="form_section" style="display:none">
            <form action = "http://localhost:5000/summarize/" method = "POST" enctype = "multipart/form-data">
                <p style="color:white">Please select the length of pauses between sentences. If your summary includes partial sentences, select a longer pause length. If it includes combined sentences, select a shorter pause length.</p>
                <input type = "radio" id="500ms" name = "silenceLength" value="500"/>
                <label for="500ms" style="color:white">500ms</label>
                <input type = "radio" id="700ms" name = "silenceLength" value="700" checked/>
                <label for="700ms" style="color:white">700ms</label>
                <input type = "radio" id="900ms" name = "silenceLength" value="900"/>
                <label for="900ms" style="color:white">900ms</label>
                </br>
                </br>
        
                <p style="color:white">Select the number of sentences you would like to have in your summary.</p>
                <select name="n" id="n">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="selected">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                </select>
                </br>
                </br>
                <div id="loading2"></div>
                <div id = "container">
                    <button type="submit" class="btn btn-primary btn-block btn-large" id="submit" onclick="loading();">Summarize It!</button>
                </div>
            </form>
        </div>
        <div class = "download_buttons" id="download_buttons">
            {% if fullText %}
            <button class="button button2" onclick="location.href='/record/{{fullText}}'">Download Full Text</button>
            {% endif %}
            {% if summary %}
            <button class="button button2" onclick="location.href='/record/{{summary}}'">Download Summary</button>
            {% endif %}
        </div>
    </div>
  </body>

    <script>
        navigator
            .mediaDevices
            .getUserMedia({audio: true})
            .then(stream => { handlerFunction(stream) });

        function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                    sendData(blob);
                }
            }
        }

        function sendData(data) {
            var form = new FormData();
            form.append('file', data, 'data.mp3');
            form.append('title', 'data.mp3');
            //Chrome inspector shows that the post data includes a file and a title.
            $.ajax({
                type: 'POST',
                url: '/save-record',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function(data) {
                console.log(data);
            });
        }

        startRecording.onclick = e => {
            console.log('Recording are started..');
            startRecording.disabled = true;
            stopRecording.disabled = false;
            form_section.style.display = "none";
            download_buttons.style.display = "none";
            audioChunks = [];
            rec.start();
        };

        stopRecording.onclick = e => {
            console.log("Recording are stopped.");
            startRecording.disabled = false;
            stopRecording.disabled = true;
            form_section.style.display = "block";
            rec.stop();
        };
    </script>

    <script type="text/javascript">
        function loading()
        {
            document.getElementById('container').style.display = 'none';
            document.getElementById('loading2').style.display = 'block';
        }
    </script>

</html>



